In [1]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

answers = {} # создадим словарь для ответов

data['profit']=data.revenue-data.budget

# 1. У какого фильма из списка самый большой бюджет?

In [2]:
display(data[data.budget == data.budget.max()])

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [3]:
display(data[data.runtime == data.runtime.max()])

answers['2'] = 'Gods and Generals (tt0279111)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [4]:
display(data[data.runtime == data.runtime.min()])

answers['3'] = 'Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [5]:
display(data.runtime.mean())

answers['4'] = '110'

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [6]:
display(data.runtime.median())

answers['5'] = '107'

107.0

# 6. Какой самый прибыльный фильм?

In [7]:
display(data[data.profit == data.profit.max()])

answers['6'] = 'Avatar (tt0499549)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [8]:
display(data[data.profit == data.profit.min()])

answers['7'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [9]:
display(data[data.revenue > data.budget].imdb_id.nunique())

answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [10]:
newdata = data[(data.release_year == 2008)]
display(newdata[(newdata.revenue == newdata.revenue.max())])

answers['9'] = 'The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [11]:
newdata = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
display(newdata[newdata.profit == newdata.profit.min()])

answers['10'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [12]:
newdata = data.copy()
newdata.genres = newdata.genres.str.split('|')
genres = newdata.explode('genres')
display(genres.genres.value_counts())

answers['11'] = 'Drama'

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [13]:
genres = data[data.profit > 0]
genres.genres = genres.genres.str.split('|')
group = genres.explode('genres')
display(group.genres.value_counts())

answers['12'] = 'Drama'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [14]:
newdata = data.copy()
newdata.director = newdata.director.str.split('|')
expdata = newdata.explode('director')
group_dir = expdata.groupby(['director']).sum()
display(group_dir[group_dir.revenue == group_dir.revenue.max()])

answers['13'] = 'Peter Jackson'

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [15]:
newdata = data.copy()
newdata.genres = newdata.genres.str.split('|')
newdata.director = newdata.director.str.split('|')
exp_gen = newdata.explode('genres')
exp_data = exp_gen.explode('director')
data_action = exp_data[exp_data.genres == 'Action']
display(data_action.director.value_counts())

answers['14'] = 'Robert Rodriguez'

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Gary McKendry         1
Gareth Edwards        1
Malcolm D. Lee        1
Tony Bill             1
Jay Chandrasekhar     1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [16]:
data2012 = data[data.release_year == 2012]
data2012.cast = data2012.cast.str.split('|') 
exp_cast = data2012.explode('cast')
group_cast = exp_cast.groupby(['cast']).sum()
display(group_cast[group_cast.revenue == group_cast.revenue.max()])

answers['15'] = 'Chris Hemsworth'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Chris Hemsworth,485000000,2027450773,458,24.8,8048,1542450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [17]:
exp_films = data[data.budget>data.budget.mean()]
exp_films.cast = exp_films.cast.str.split('|')
exp_cast = exp_films.explode('cast')
display(exp_cast.cast.value_counts())

answers['16'] = 'Matt Damon'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
Janeane Garofalo     1
Cindy Cheung         1
Jemaine Clement      1
Peter Capaldi        1
Eliza Bennett        1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [18]:
Nic_data = data[data.cast.str.contains('Nicolas Cage') == True] 
Nic_data.genres = Nic_data.genres.str.split('|')
exp_genres = Nic_data.explode('genres')
display(exp_genres.genres.value_counts())

answers['17'] = 'Action'

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [19]:
par_data = data[data.production_companies.str.contains('Paramount Pictures') == True]
display(par_data[par_data.profit == par_data.profit.min()])

answers['18'] = 'K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [20]:
year = data.release_year.unique()
good_year = 0
sum_rev = 0


for i in year:
    if data[data.release_year == i].revenue.sum() > sum_rev:
        sum_rev = data[data.release_year == i].revenue.sum()
        good_year = i

        
print(good_year,sum_rev)

answers['19'] = '2015'

2015 25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [21]:
warner = data[data.production_companies.str.contains('Warner Bros') == True]
year = warner.release_year.unique()
good_year = 0
profit = 0

for i in year:
    if warner[warner.release_year == i].profit.sum() > profit:
        profit = warner[warner.release_year == i].profit.sum()
        good_year = i

        
print(good_year,profit)

answers['20'] = '2014'

2014 2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [22]:
newdata = data.copy()
newdata.release_date = newdata.release_date.str.split('/',expand=True)
group_rel = newdata.groupby('release_date').count()
display(group_rel[group_rel.imdb_id == group_rel.imdb_id.max()])

answers['21'] = 'сентябрь'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,vote_average,release_year,profit
release_date,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [23]:
newdata = data.copy()
newdata.release_date = newdata.release_date.str.split('/',expand=True)
group_rel = newdata.groupby('release_date').count()
s = group_rel.loc['6']['imdb_id'] + group_rel.loc['7']['imdb_id'] + group_rel.loc['8']['imdb_id']

print(s)
answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [24]:
newdata = data.copy()
newdata.release_date = newdata.release_date.str.split('/',expand=True)
winter_data = newdata[(newdata.release_date == '1')  | (newdata.release_date == '2') | (newdata.release_date == '12')]
winter_data.director = winter_data.director.str.split('|')
exp_dir = winter_data.explode('director')
display(exp_dir.director.value_counts())

answers['23'] = 'Peter Jackson'

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Martin Scorsese       4
Shawn Levy            4
                     ..
David Dobkin          1
Ron Shelton           1
James Gunn            1
Todd Edwards          1
David Gordon Green    1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [25]:
newdata = data.copy()
newdata['length'] = newdata.original_title.str.len()
newdata.production_companies = newdata.production_companies.str.split('|')
exp_prod = newdata.explode('production_companies')
group_prod = exp_prod.groupby('production_companies').mean()
display(group_prod[group_prod.length == group_prod.length.max()])

answers['24'] = 'Four By Two Productions'

,budget,revenue,runtime,vote_average,release_year,profit,length
production_companies,,,,,,,
Four By Two Productions,18000000.0,261572744.0,82.0,6.4,2006.0,243572744.0,83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [26]:
newdata = data.copy()
newdata.overview = newdata.overview.str.split()
newdata['length'] = newdata.overview.str.len()
newdata.production_companies = newdata.production_companies.str.split('|')
exp_prod = newdata.explode('production_companies')
group_prod = exp_prod.groupby('production_companies').mean()
display(group_prod[group_prod.length == group_prod.length.max()])

answers['25'] = 'Midnight Picture Show'

,budget,revenue,runtime,vote_average,release_year,profit,length
production_companies,,,,,,,
Midnight Picture Show,15000000.0,3533227.0,98.0,5.7,2008.0,-11466773.0,175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [27]:
best_films = data.sort_values(by=['vote_average'], ascending=False).head(18)

ans={1:['Inside Out', 'The Dark Knight', '12 Years a Slave'],
     2:['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
     3:['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
     4:['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
     5:['Upside Down', 'Inside Out', 'Iron Man']}

answer = dict.copy(ans)
leng=[]

for i in range(0,18):
    leng.append(best_films.iloc[i][3])

    
for key,val in ans.items():
        for index,element in enumerate(val):
            if element in leng:
                answer[key][index]={}
                answer[key][index]='Yes'
                
            else:
                answer[key][index]={'No'}
                answer[key][index]='No'

answers['26'] = 'Inside Out', 'The Dark Knight', '12 Years a Slave'
answer

{1: ['Yes', 'Yes', 'Yes'],
 2: ['No', 'No'],
 3: ['No', 'Yes', 'No'],
 4: ['No', 'No', 'No'],
 5: ['No', 'Yes', 'No']}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [28]:
from itertools import combinations
newdata = data.copy()
newdata.cast = newdata.cast.str.split('|')

pairs=[]
pairs_actors=[]

for i in range(0,1889):
    actors = newdata.loc[i].cast
    pairs = list(combinations(actors,2))
    
    for pair in pairs:
        if pair in pairs_actors: continue
        else: pairs_actors.append(pair)


df = pd.DataFrame(columns=['Actors','number'])

a=0
for i in pairs_actors:
    df.loc[a,'Actors'] = i
    df.loc[a,'number'] = data[(data.cast.str.contains(i[0])==True) & (data.cast.str.contains(i[1])==True)].imdb_id.nunique()
    a+=1

    
display(df[df.number == df.number.max()])
answers['27']='Daniel Radcliffe & Rupert Grint'

                                Actors number
2397  (Daniel Radcliffe, Rupert Grint)      8
2398   (Daniel Radcliffe, Emma Watson)      8
2401       (Rupert Grint, Emma Watson)      8
3706       (Emma Watson, Rupert Grint)      8

In [29]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ('Inside Out', 'The Dark Knight', '12 Years a Slave'),
 '27': 'Daniel Radcliffe & Rupert Grint'}